# folders
.DS_Store
Archive
bin

# output files
*.png

# misc files
*.csv

# log files
*.log
*.log.*

# Editor files
*.swp

# C/C++
*.slo
*.lo
*.o
*.so
*.swo
*.dylib
*.lai
*.la
*.a
*.d

# Python
*.pyc

# autotools
.deps
.deps/*
config.guess
config.log
config.status

third_party/ndpi/config.h

third_party/ndpi/libndpi.pc

third_party/ndpi/libtool

third_party/ndpi/stamp-h1
